/*Body style*/
body{
    margin: 0;
    background-color: #faebd7; 
}

/* Navigation Bar */
.navbar{
    width: 100%;
    height: 100px;
    background-color: #ffc7d0;
    justify-content: space-between;
    padding-top: 10px;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 10px;
}

.logo img{
    width: 190px;
    height: 70px;
}

.nav-links{
    display: inline;
    float: right;
    padding-top: 25px;
    margin-right: 30px;
}

.nav-links a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    margin: 0 15px;
}

.nav-links a:hover{
    text-decoration: none;
    background-color: #f77daa;
    padding: 10px;
    border-radius: 30px;
}

/* Main Contents */
.home{
    background-image: url('Image/HomeImg/aboutbg.jpg');

    min-height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}

.home-section{
    text-align: center;
}

.home-section h1{
    color: #060644;
    font-size: 60px;
    text-shadow: 2px 2px 0px white;
}

.home-section img{
    width: 320px;
}

.home-tagline{
    width: 100%;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.home-tagline h2{
    text-align: center;
}

.parallax{
    background-image: url('Image/HomeImg/homepar.png');

    min-height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.products-section{
    width: 100%;
    height: 871.91px;
    text-align: center;
}

.products-section h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ff83a8;
    background-color: #a94064;
    margin-left: 27%;
    margin-right: 25%;
}

.products-row{
    display: flex;
    justify-content: center;
    background-color: #fab7d0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-item{
    margin: 0 10px;
}

.product-item img{
    width: 250px;
}

.product-item figcaption, a{
    margin-top: 10px;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

/* Button to check products */
.button-box{
    background-color: #fab7d0;
    padding-bottom: 30px;
}

.products-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #830c4f;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

/* Contact Section */
.contacts-section {
    padding: 95px;
}

.contact-card {
    width: 100%;
    max-width: 1176px;
    height: 540.78px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.418);
}

.contact-header{
    height: 83.78px;
    text-align: center;
    background-color: #fab7d0;
    font-size: 20px;
}

.contact-header h2{
    padding: 25px;
    vertical-align: middle;
}

.contacts-info{
    height: 438px;
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.contact-box{
    width: 50%;
    line-height: 55px;
}

.contact-info, .contact-info a {
    font-size: 25px
}

.contact-info i{
    padding: 5px;
    margin-left: 2px;
}

.contact-info a{
    color: #000000;
    text-decoration: none;
}

.Feedback-form{
    width: 50%;
    padding: 10px;
}

.feedback-form {
    display: flex; 
    flex-direction: column; 
}

.Feedback-form h3{
    font-size: 24px;
}

.feedback-form label{
    margin-bottom: 5px; 
}

.feedback-form input,
.feedback-form textarea,
.feedback-form button{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.feedback-form button{
    background-color: #f77daa;
    transition: transform .2s;
    color: #ffffff;
    cursor: pointer;
}

.feedback-form button:hover{
    transform: scale(1.05);
}

.custom-popup{
    border-radius: 10px; 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}

.about-section{
    width: 100%;
    background-image: url('Image/HomeImg/aboutbg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 14.5%;
    padding-bottom: 15%;
}

.about-section p{
    font-size: 25px;
    margin: auto;
    width: 50%;
    text-align: justify;
    line-height: 35px;
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.418);
    
}

/* Footer */
.footer{
    width: 100%;
    height: 112px;
    background-color: #ffc7d0;
    text-align: center;
    padding-top: 20px;
}

.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}

.footer footer {
    padding-top: 10px;
    font-weight: 700;
}

.footer a {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

@media only screen and (max-device-width: 768px) {
    .parallax,.home {
      background-attachment: scroll;
    }
  }